:root {
    --color-marroncito: #b18c54;
    --color-Beigeclaro: #e8dac6;
    --color-Blancoperla: #ebe0d2;
    --color-Beigecalido: #D9C6AA;
    --color-Doradoreal: #C8A74E;
    --color-marron: #7a5a0d;
    --color-Grisperla: #C5C5C5;
    --color-marronoscuro: #594105;

    --fuente-titulos:"Cinzel";
    --fuente-texto:"Libertinus Serif Display";
    --fuente-texto-2:georgia;
}
/*  Globales **/
html,body {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    margin: 0;
}

.contenedor-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.contenedor {
  font-family: var(--fuente-texto);
   color: var(--color-marron);
   width: 80%;
   margin: auto; 
   justify-content: center;
   text-align: center;
   font-size: 18px;
}

.contenedor h1 {
        font-family: var(--fuente-texto-2);
        font-size: 35px;
        justify-content: center;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 3rem;

    }
   .contenedor p {
        font-family: var(--fuente-texto-2);
        font-size: 20px;
        text-align: center;
        line-height: 1.7; 
        margin-bottom: 5rem;
        justify-content: center;
    }

.obras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.marco-horizontal {
    border-width: 15px;
    border: 90px solid;
    border-image: url(../img/marcos/marco-horizontal.png);
    border-image-slice: 150 160 150 160 fill;
}

.marco-vertical {
    border: 90px solid;
    border-image: url(../img/marcos/Marco-vertical.png);
    border-image-slice: 190 180 180 180 fill;  
    z-index: 2;

}

.obra-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap : 0;
}

.obra-item h3 {
    margin: 0;
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--color-marronoscuro);
    font-family: var(--fuente-titulos);
}

.obra-item p {
    margin-top: 3rem;
    font-family: var(--fuente-texto-2);
    font-size: 2.8rem;
    line-height: 1.5;
    justify-content: baseline;
    text-align: center;
    color: var(--color-marronoscuro);
    max-width: 600px;
}

.obras img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
}

.obras h2 {
    font-family: var(--fuente-texto-2);
       margin-top: 6rem;
       font-size: 2.5rem;
       text-align: center;
       line-height: 1.3;
       grid-column: 1 / -1;
       background-color: var(--color-Beigecalido);
       padding: 3rem;
       margin-bottom: 2rem;
       color:var(--color-marronoscuro);
   }

.obras h3 {
    color: var(--color-marronoscuro);
    font-family: var(--fuente-titulos);
    justify-content: center;
    text-align: center;
    font-size: 2.2rem;
}

.obras p {
    font-family: var(--fuente-texto-2);
    font-size: 2rem;
    text-align: justify;
    color: var(--color-marronoscuro);
    justify-content:center ;
    align-items: center;
    padding: 2rem;
}

.autores{
    margin-top: 1rem;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}


.autores img {
    width: 250px;
    height: 270px; 
    object-fit: cover;
    border-radius: 70%;
    margin: 0 auto;
    display: block;
    background-image: url('../img/marcos/marco-ovalado.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px; 
}
.autores h2 {
    font-family: var(--fuente-texto-2);
       font-size: 2.5rem;
       text-align: center;
       grid-column: 1 / -1;
       background-color: var(--color-Beigecalido);
       padding-bottom: 2.5rem;
       padding-top: 2.5rem;
       width: 100%;
   }
.autores h3 {
    color: var(--color-marronoscuro);
    font-family: var(--fuente-texto-2);
    font-size: 2rem;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;
}
.marco-ovalado {
    border: 17px solid;
    border-width: 35px;
    border-image: url(../img/marcos/marco-ovalado.png);
    border-image-slice: 210 100 210 100 fill;  
    z-index: 2;
}
.boton {
    background-color: var(--color-marroncito);
    justify-content: center;
    color: var(--color-Beigeclaro);
    width: auto;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: var(--fuente-titulos);
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: var(--color-marron);
}


.footer {
    background-color: var(--color-marroncito);
    color: white;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 6rem;

}
section {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

section h2 {
        background-color: var(--color-Beigecalido);
        padding: 3rem;
        border: 1px solid var(--color-Doradoreal);
        font-size: 3rem;
        color: var(--color-marronoscuro);
        text-align: center;
        font-weight: bold;
    }

section p {
        font-size: 2rem;
        color: var(--color-marronoscuro);
        text-align: center;
    }

