:root {
    --color-Blancomarfil: #F8F5F0;
    --color-Beigeclaro: #EFE5D8;
    --color-Beigecálido: #D9C6AA3;
    --color-Doradoreal: #C8A74E;
    --color-Doradoprofundo: #A6812C;
    --color-Grisperla: #C5C5C5;
    --fuente-titulos:"Cinzel",
    --fuente-texto:serif;
}
